.dropdown {
    text-align: center; /* Center align the content within the li element */
}

/* Additional styling if needed */
.dropdown ul {
    text-align: left; /* Left align the content within the dropdown */
}

.dropdown ul li {
    display: block;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    background-color: #d5d5d5;
    color: black;
    padding: 10px 32px;
    /* clip-path: polygon(
        75% 0%,
        100% 50%,
        100% 50%,
        75% 100%,
        0% 100%,
        0% 60%,
        0 0
    ); */
}
.nav-tabs .nav-item {
    margin: 0px 3px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #262f35;
    color: white;
    padding: 10px 32px;
    /* clip-path: polygon(
        75% 0%,
        100% 50%,
        100% 50%,
        75% 100%,
        0% 100%,
        0% 60%,
        0 0
    ); */
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
.step-form-padding {
    padding: 10px;
}
label.btn.toggle-checkbox > i.fa:before {
    content: "\f096";
}
label.btn.toggle-checkbox.active > i.fa:before {
    content: "\f046";
}
.check_type {
    width: 15%;
    padding: 10px 10px;
    border-radius: 100%;
    display: flex;
    background: #f5f8fa;
    justify-content: center;
}
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    user-select: none;
}

.checkbox-group > * {
    margin: 0.5rem 0.5rem;
}

.checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #9c9c9c;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 1.25rem;
}

.checkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox-input:checked + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.checkbox-input:checked + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
}

.checkbox-input:checked + .checkbox-tile .checkbox-icon,
.checkbox-input:checked + .checkbox-tile .checkbox-label {
    color: #2260ff;
}

.checkbox-input:focus + .checkbox-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.checkbox-input:focus + .checkbox-tile:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.checkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.checkbox-tile:hover {
    border-color: #2260ff;
}

.checkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.checkbox-icon {
    transition: 0.375s ease;
    color: #494949;
}

.checkbox-icon svg {
    width: 3rem;
    height: 3rem;
}

.checkbox-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
}
.qr-design-chose {
    width: 100%;
    height: 50px;
    background: #eee;
    display: flex;
    justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");

.top-text-wrapper {
    margin: 20px 0 30px 0;
}

.top-text-wrapper h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.top-text-wrapper code {
    font-size: 0.85em;
    background: linear-gradient(90deg, #fce3ec, #ffe8cc);
    color: #ff2200;
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
}

.tab-section-wrapper {
    padding: 30px 0;
}

.grid-wrapper {
    display: grid;
    grid-gap: 30px;
    place-items: center;
    place-content: center;
}

.grid-col-auto {
    grid-auto-flow: column;
    grid-template-rows: auto;
}

/* Radio Card Styles */

:root {
    --primary-colors: #3057d5;
    --transition: 200ms linear;
}
label.radio-card {
    cursor: pointer;
}

.card-content-wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: var(--transition);
    height: 130px;
}
.code-template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: var(--transition);
    height: 130px;
}
.i-ball-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 0px 11px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: var(--transition);
    height: auto;
}

.check-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: solid 2px #e3e3e3;
    border-radius: 50%;
    transition: var(--transition);
    position: relative;
}

.check-icon:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
    transform: scale(1.6);
    transition: var(--transition);
    opacity: 0;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="radio"]:checked + .card-content-wrapper {
    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5),
        0 0 0 2px var(--primary-colors);
}

input[type="radio"]:checked + .card-content-wrapper .check-icon {
    background: var(--primary-colors);
    border-color: var(--primary-colors);
    transform: scale(1.2);
}

input[type="radio"]:checked + .card-content-wrapper .check-icon:before {
    transform: scale(1);
    opacity: 1;
}

input[type="radio"]:focus + .card-content-wrapper .check-icon {
    box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);
    border-color: #3056d5;
}

code {
    padding: 5px 8px;
    border-radius: 10px;
    background-color: #f8f9f9;
    color: #cc0066;
}

[type="color"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
}

[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

[type="color"]::-webkit-color-swatch {
    border: none;
}

.color-picker {
    border-radius: 3px;
    border: 1px solid #ccc;
}
.qr-pattern {
    width: auto;
    height: auto;
}

.sign_up_form {
    height: 100vh;
    position: relative;
    top: 3rem;
    bottom: 3rem;
}
@media screen and (min-width: 1920px) {
    .business-page-preview {
        width: 330px !important;
    }
}
@media screen and (min-width: 1366px){
    .check-maintext {
        font-size: 15px !important;
    }
    .business-page-preview {
        width: 240px !important;
    }
    .qr-card-form {
        padding: 10px !important;
    }
    .for-device-text{
        font-size: 7px;
    }
    .nfc-type-mobile{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
    .nfc-one-cover-img{
        width: 100%;
        object-fit: cover;
    }
}
.nfc-one-cover-img{
    object-fit: cover;
}

@media only screen and (max-width: 1400px) {
    .card-content-wrapper {
        background: #fff;
        border-radius: 5px;
        padding: 10px;
        width: 210px;
        display: grid;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        transition: var(--transition);
        height: 130px;
    }
    .code-template {
        width: auto !important;
    }
    .code-template .card-content img {
        width: 80px !important;
    }
    .i-ball-frame {
        width: auto;
        height: auto;
    }
    .qr-pattern {
        width: auto;
        height: auto;
    }
    .check-subtext {
        font-size: 10px !important;
    }
    .check-maintext {
        font-size: 15px !important;
    }
}

.default-modal-close{
    background-color: #eee;
    border-radius: 100%;
    color: black;
}
.default-modal-close i{
    padding-top: 3px !important;
    color: orangered;
    text-align: center;
}
#countdown{
	width: 465px;
	height: 112px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
	padding: 24px 0;
	position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555); 
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee); 
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: 8px;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
}